EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'ModifiedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'DateModified'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'AddedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'DateAdded'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'ModifiedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'DateModified'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'AddedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'DateAdded'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'ModifiedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'DateModified'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'AddedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'DateAdded'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'ModifiedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'DateModified'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'AddedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'DateAdded'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'ModifiedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'DateModified'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'AddedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'DateAdded'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'ModifiedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'DateModified'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'AddedBy'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'DateAdded'

GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectDetailsAll]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_SelectDetailsAll]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectByUserID]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_SelectByUserID]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectByLoginName]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_SelectByLoginName]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectAllByCompanyID]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_SelectAllByCompanyID]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_ResetPassword]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_ResetPassword]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Log_Update]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_Log_Update]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Log_Select]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_Log_Select]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Log_Insert]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_Log_Insert]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Insert]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_Insert]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_GenerateNewPassword]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_GenerateNewPassword]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_FindUsername]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_FindUsername]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Delete]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_Delete]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_ChangePassword]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP PROCEDURE [dbo].[pADM_Users_ChangePassword]
GO
ALTER TABLE [dbo].[ADMN_TRN_LogUserLogins] DROP CONSTRAINT [DF_ADMN_TRN_LogUserLogins_LoginDate]
GO
ALTER TABLE [dbo].[ADMN_MST_RolePermissions] DROP CONSTRAINT [DF_ADMN_MST_RolePermissions_DateAdded_1]
GO
ALTER TABLE [dbo].[ADMN_MST_RolePermissions] DROP CONSTRAINT [DF_ADMN_MST_RolePermissions_IsDeleted_1]
GO
ALTER TABLE [dbo].[ADMN_MST_RolePermissions] DROP CONSTRAINT [DF_ADMN_MST_RolePermissions_IsActive_1]
GO
/****** Object:  Table [dbo].[ADMN_TRN_LogUserLogins]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_TRN_LogUserLogins]
GO
/****** Object:  Table [dbo].[ADMN_MST_UserSettings]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_UserSettings]
GO
/****** Object:  Table [dbo].[ADMN_MST_UserSettingKeys]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_UserSettingKeys]
GO
/****** Object:  Table [dbo].[ADMN_MST_Users_Officewise]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Users_Officewise]
GO
/****** Object:  Table [dbo].[ADMN_MST_Users]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Users]
GO
/****** Object:  Table [dbo].[ADMN_MST_States]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_States]
GO
/****** Object:  Table [dbo].[ADMN_MST_Settings]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Settings]
GO
/****** Object:  Table [dbo].[ADMN_MST_SettingKeys]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_SettingKeys]
GO
/****** Object:  Table [dbo].[ADMN_MST_Roles]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Roles]
GO
/****** Object:  Table [dbo].[ADMN_MST_RolePermissions]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_RolePermissions]
GO
/****** Object:  Table [dbo].[ADMN_MST_OfficeTypes]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_OfficeTypes]
GO
/****** Object:  Table [dbo].[ADMN_MST_Offices]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Offices]
GO
/****** Object:  Table [dbo].[ADMN_MST_Districts]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Districts]
GO
/****** Object:  Table [dbo].[ADMN_MST_Countries]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Countries]
GO
/****** Object:  Table [dbo].[ADMN_MST_Companies]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_Companies]
GO
/****** Object:  Table [dbo].[ADMN_MST_CommonKeys]    Script Date: 12/27/2016 11:10:58 AM ******/
DROP TABLE [dbo].[ADMN_MST_CommonKeys]
GO
/****** Object:  Table [dbo].[ADMN_MST_CommonKeys]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_CommonKeys](
	[CommonKeyID] [int] IDENTITY(1,1) NOT NULL,
	[CommonKeyName] [varchar](100) NOT NULL,
	[CommonKeyValue] [varchar](100) NOT NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_CommonKeys_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_CommonKeys_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_CommonKeys_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_ADMN_MST_CommonKeys] PRIMARY KEY CLUSTERED 
(
	[CommonKeyName] ASC,
	[CommonKeyValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Companies]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NULL,
	[CompanyAliasName] [varchar](100) NULL,
	[CompanyCode] [varchar](100) NULL,
	[CompanyMailingName] [varchar](100) NULL,
	[CompanyRegisteredOfficeID] [int] NULL,
	[CompanyHeadOfficeID] [int] NULL,
	[CompanyRegistrationNumber] [varchar](100) NULL,
	[CompanyEPFRegistrationNumber] [varchar](100) NULL,
	[CompanyLogoBigSize] [varbinary](max) NULL,
	[CompanyLogoBigType] [varchar](10) NULL,
	[CompanyLogoMediumSize] [varbinary](max) NULL,
	[CompanyLogoMediumType] [varchar](10) NULL,
	[CompanyLogoSmallSize] [varbinary](max) NULL,
	[CompanyLogoSmallType] [varchar](10) NULL,
	[CompanyLoginImage] [varbinary](max) NULL,
	[CompanyLoginImageType] [varchar](10) NULL,
	[CompanyLoginLabelForeColor] [varchar](50) NULL,
	[EstablishmentDate] [date] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_Companies_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_Companies_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_Companies_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Countries]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [varchar](10) NULL,
	[CountryName] [nvarchar](100) NULL,
	[CapitalName] [varchar](50) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_Countries_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Countries_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_Countries_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Districts]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ADMN_MST_Districts](
	[DistrictID] [int] IDENTITY(1,1) NOT NULL,
	[DistrictName] [nvarchar](100) NULL,
	[StateID] [int] NULL,
	[HeadQuarterName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_Districts_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_Districts_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_Districts_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Offices]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_Offices](
	[OfficeID] [int] IDENTITY(1,1) NOT NULL,
	[OfficeName] [varchar](100) NULL,
	[OfficeTypeID] [int] NULL,
	[OfficeCode] [varchar](10) NULL,
	[Address_TownOrCity] [varchar](200) NULL,
	[Address_Landmark] [varchar](100) NULL,
	[Address_PinCode] [varchar](10) NULL,
	[Address_DistrictID] [int] NULL,
	[Address_StateID] [int] NULL,
	[EstablishmentDate] [date] NULL,
	[ParentOfficeID] [int] NULL,
	[ManagerEmployeeID] [int] NULL,
	[ContactPerson1] [varchar](50) NULL,
	[ContactPerson2] [varchar](50) NULL,
	[ContactPerson3] [varchar](50) NULL,
	[StdCodePhone] [varchar](20) NULL,
	[Phone1] [varchar](20) NULL,
	[Phone2] [varchar](20) NULL,
	[Phone3] [varchar](20) NULL,
	[Extension1] [varchar](20) NULL,
	[Extension2] [varchar](20) NULL,
	[Extension3] [varchar](20) NULL,
	[StdCodeFax] [varchar](20) NULL,
	[Fax1] [varchar](20) NULL,
	[Fax2] [varchar](20) NULL,
	[Fax3] [varchar](20) NULL,
	[Mobile1] [varchar](20) NULL,
	[Mobile2] [varchar](20) NULL,
	[Mobile3] [varchar](20) NULL,
	[Email1] [varchar](100) NULL,
	[Email2] [varchar](100) NULL,
	[Email3] [varchar](100) NULL,
	[IsHavingShift] [bit] NULL CONSTRAINT [DF_ADMN_MST_Offices_IsHavingShift]  DEFAULT ((0)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_Offices_IsDeleted]  DEFAULT ((0)),
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_Offices_IsActive]  DEFAULT ((1)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_Offices_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_OfficeTypes]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_OfficeTypes](
	[OfficeTypeID] [int] IDENTITY(1,1) NOT NULL,
	[OfficeTypeName] [varchar](100) NULL,
	[OfficeTypeDescription] [varchar](200) NULL,
	[OfficeTypeAbbreviation] [varchar](5) NULL,
	[ParentOfficeTypeID] [int] NULL,
	[HierarchyIndex] [int] NULL,
	[LastGeneratedCode] [varchar](100) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_OfficeTypes_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_OfficeTypes_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_OfficeTypes_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_RolePermissions]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_RolePermissions](
	[RolePermissionID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[PermissionID] [int] NULL,
	[FormOrMenuID] [int] NULL,
	[FormOrMenu] [char](1) NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[DateAdded] [datetime] NULL,
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Roles]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleDescription] [varchar](30) NULL,
	[RolePosition] [int] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_Roles_IsActive_1]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_Roles_IsDeleted_1]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_Roles_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_ADMN_MST_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_SettingKeys]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_SettingKeys](
	[SettingKeyID] [int] IDENTITY(1,1) NOT NULL,
	[SettingKeyName] [varchar](50) NULL,
	[SettingKeyModuleID] [int] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_SettingKeys_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_SettingKeys_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_SettingKeys_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Settings]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_Settings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[SettingKeyID] [int] NULL,
	[SettingDataType] [varchar](20) NULL,
	[SettingValue] [varchar](max) NULL,
	[EffectiveDateFrom] [date] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_Settings_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_Settings_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_Settings_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_States]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NULL,
	[StateCapitalName] [varchar](50) NULL,
	[CountryID] [int] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_States_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_States_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_States_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[CompanyID] [int] NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Users]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[RoleID] [int] NULL,
	[UserType] [varchar](50) NULL,
	[UserReferenceID] [int] NULL,
	[SecretQuestion] [varchar](100) NULL,
	[SecretQuestionAnswer] [varchar](100) NULL,
	[IsPasswordChangeDue] [bit] NULL CONSTRAINT [DF_ADMN_MST_Users_IsPasswordChangeDue]  DEFAULT ((0)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_MICRO_Users_IsDeleted_1]  DEFAULT ((0)),
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_Users_IsActive]  DEFAULT ((1)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_MICRO_Users_DateAdded_1]  DEFAULT (getdate()),
	[AddedBy] [int] NULL CONSTRAINT [DF_ADMN_MST_Users_AddedBy]  DEFAULT ((1)),
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL,
	[CompanyCode] [varchar](10) NULL,
 CONSTRAINT [PK_MICRO_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_Users_Officewise]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ADMN_MST_Users_Officewise](
	[UserOfficewiseID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OfficeID] [int] NULL,
	[CanAccessAllOffices] [bit] NULL CONSTRAINT [DF_ADMN_MST_Users_Officewise_CanAccessAllOffices_1]  DEFAULT ((0)),
	[EffectiveDateFrom] [date] NULL,
	[EffectiveDateTo] [date] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_Users_Officewise_IsActive_1]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_Users_Officewise_IsDeleted_1]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_Users_Officewise_DateAdded_1]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_UserSettingKeys]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_UserSettingKeys](
	[UserSettingKeyID] [int] IDENTITY(1,1) NOT NULL,
	[UserSettingKeyName] [varchar](50) NULL,
	[UserSettingKeyDescription] [varchar](max) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_UserSettingKeys_IsActive]  DEFAULT ((1)),
	[IsDeleted] [bit] NULL CONSTRAINT [DF_ADMN_MST_UserSettingKeys_IsDeleted]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_UserSettingKeys_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL CONSTRAINT [DF_ADMN_MST_UserSettingKeys_AddedBy]  DEFAULT ((1)),
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_MST_UserSettings]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_MST_UserSettings](
	[UserSettingID] [int] IDENTITY(1,1) NOT NULL,
	[UserSettingKeyID] [int] NULL,
	[UserSettingValue] [varchar](max) NULL,
	[UserID] [int] NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_ADMN_MST_UserSettings_IsActive]  DEFAULT ((1)),
	[IsDelete] [bit] NULL CONSTRAINT [DF_ADMN_MST_UserSettings_IsDelete]  DEFAULT ((0)),
	[DateAdded] [datetime] NULL CONSTRAINT [DF_ADMN_MST_UserSettings_DateAdded]  DEFAULT (getdate()),
	[AddedBy] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADMN_TRN_LogUserLogins]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMN_TRN_LogUserLogins](
	[LogUserLoginID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[LoginDate] [datetime] NULL,
	[LoginIP] [varchar](100) NULL,
	[LogoutDate] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[VC_FIELD1] [varchar](100) NULL,
	[VC_FIELD2] [varchar](100) NULL,
	[NU_FIELD1] [int] NULL,
	[NU_FIELD2] [int] NULL,
	[DT_FIELD1] [datetime] NULL,
	[DT_FIELD2] [datetime] NULL,
	[CH_FIELD1] [char](1) NULL,
	[CH_FIELD2] [char](1) NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ADMN_MST_CommonKeys] ON 

INSERT [dbo].[ADMN_MST_CommonKeys] ([CommonKeyID], [CommonKeyName], [CommonKeyValue], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [CompanyID]) VALUES (161, N'Account Access Type', N'Auto', 1, 0, CAST(N'2012-10-11 11:06:29.220' AS DateTime), 1, CAST(N'2013-02-06 14:54:08.067' AS DateTime), 8, NULL)
INSERT [dbo].[ADMN_MST_CommonKeys] ([CommonKeyID], [CommonKeyName], [CommonKeyValue], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [CompanyID]) VALUES (199, N'Account Access Type', N'Default', 1, 0, CAST(N'2013-02-04 11:55:07.640' AS DateTime), 12, CAST(N'2013-02-06 15:05:31.230' AS DateTime), 1, NULL)
INSERT [dbo].[ADMN_MST_CommonKeys] ([CommonKeyID], [CommonKeyName], [CommonKeyValue], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [CompanyID]) VALUES (163, N'Account Access Type', N'Manual', 1, 0, CAST(N'2012-10-11 11:06:53.027' AS DateTime), 1, CAST(N'2013-02-06 14:40:27.043' AS DateTime), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ADMN_MST_CommonKeys] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Companies] ON 

SET IDENTITY_INSERT [dbo].[ADMN_MST_Companies] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Countries] ON 

INSERT [dbo].[ADMN_MST_Countries] ([CountryID], [CountryCode], [CountryName], [CapitalName], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, N'IN', N'INDIA', N'New Delhi', 1, 0, CAST(N'2013-02-28 12:55:59.263' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Countries] ([CountryID], [CountryCode], [CountryName], [CapitalName], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (2, N'UAE', N'UNITED ARAB EMIRATES', N'Abu Dhabi', 1, 0, CAST(N'2013-02-28 12:55:59.280' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Countries] ([CountryID], [CountryCode], [CountryName], [CapitalName], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (3, N'USA', N'UNITED STATE OF AMERICA', N'Washignton', 1, 0, CAST(N'2013-02-28 12:55:59.300' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_Countries] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Districts] ON 

INSERT [dbo].[ADMN_MST_Districts] ([DistrictID], [DistrictName], [StateID], [HeadQuarterName], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, N'Abohar', 28, NULL, 1, 0, CAST(N'2011-07-23 16:47:49.883' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Districts] ([DistrictID], [DistrictName], [StateID], [HeadQuarterName], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (2, N'Achalpur', 21, NULL, 1, 0, CAST(N'2011-07-23 16:47:49.883' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Districts] ([DistrictID], [DistrictName], [StateID], [HeadQuarterName], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (3, N'Addanki', 2, NULL, 1, 0, CAST(N'2011-07-23 16:47:49.883' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ADMN_MST_Districts] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Offices] ON 

SET IDENTITY_INSERT [dbo].[ADMN_MST_Offices] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_OfficeTypes] ON 

INSERT [dbo].[ADMN_MST_OfficeTypes] ([OfficeTypeID], [OfficeTypeName], [OfficeTypeDescription], [OfficeTypeAbbreviation], [ParentOfficeTypeID], [HierarchyIndex], [LastGeneratedCode], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (22, N'COLLEGE', N'COLLEGE', N'CG', NULL, NULL, NULL, 1, 0, CAST(N'2013-07-06 16:52:05.577' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_OfficeTypes] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Roles] ON 

INSERT [dbo].[ADMN_MST_Roles] ([RoleID], [RoleDescription], [RolePosition], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, N'ADMINISTRATOR', 1, 1, 0, CAST(N'2013-07-13 17:41:54.160' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Roles] ([RoleID], [RoleDescription], [RolePosition], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (2, N'STAFF-TEACHING', 2, 1, 0, CAST(N'2013-07-13 17:41:54.170' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Roles] ([RoleID], [RoleDescription], [RolePosition], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (3, N'STAFF-NON-TEACHING', 3, 1, 0, CAST(N'2013-07-13 17:41:54.177' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_Roles] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_SettingKeys] ON 

INSERT [dbo].[ADMN_MST_SettingKeys] ([SettingKeyID], [SettingKeyName], [SettingKeyModuleID], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, N'Administration Fees', 3, 1, 0, CAST(N'2012-02-23 11:36:16.120' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_SettingKeys] ([SettingKeyID], [SettingKeyName], [SettingKeyModuleID], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (2, N'Late Fee', 3, 1, 0, CAST(N'2012-02-23 11:36:59.017' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_SettingKeys] ([SettingKeyID], [SettingKeyName], [SettingKeyModuleID], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (3, N'Rate Of Interest (Demand Loan)', 3, 1, 0, CAST(N'2012-02-23 11:37:37.647' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_SettingKeys] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Settings] ON 

INSERT [dbo].[ADMN_MST_Settings] ([SettingID], [SettingKeyID], [SettingDataType], [SettingValue], [EffectiveDateFrom], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, 1, N'Decimal', N'10', CAST(N'2014-01-23' AS Date), 1, 0, CAST(N'2012-02-23 11:36:16.130' AS DateTime), 8, CAST(N'2012-05-11 10:22:00.000' AS DateTime), 8, N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Settings] ([SettingID], [SettingKeyID], [SettingDataType], [SettingValue], [EffectiveDateFrom], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (2, 2, N'Percentage', N'1.5', CAST(N'2012-02-23' AS Date), 1, 0, CAST(N'2012-02-23 11:36:59.030' AS DateTime), 8, CAST(N'2012-04-18 17:42:00.000' AS DateTime), 8, N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_Settings] ([SettingID], [SettingKeyID], [SettingDataType], [SettingValue], [EffectiveDateFrom], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (3, 3, N'Percentage', N'18', CAST(N'2012-02-23' AS Date), 1, 0, CAST(N'2012-02-23 11:37:37.650' AS DateTime), 8, CAST(N'2012-05-11 10:21:00.000' AS DateTime), 8, N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_Settings] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_States] ON 

INSERT [dbo].[ADMN_MST_States] ([StateID], [StateName], [StateCapitalName], [CountryID], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [CompanyID]) VALUES (1, N'Andaman and Nicobar Islands', NULL, 1, 1, 0, CAST(N'2011-07-23 16:47:26.080' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_States] ([StateID], [StateName], [StateCapitalName], [CountryID], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [CompanyID]) VALUES (2, N'Andhra Pradesh', NULL, 1, 1, 0, CAST(N'2011-07-23 16:47:26.080' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_States] ([StateID], [StateName], [StateCapitalName], [CountryID], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [CompanyID]) VALUES (3, N'Arunachal Pradesh', NULL, 1, 1, 0, CAST(N'2011-07-23 16:47:26.080' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_States] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Users] ON 

INSERT [dbo].[ADMN_MST_Users] ([UserID], [UserName], [Password], [RoleID], [UserType], [UserReferenceID], [SecretQuestion], [SecretQuestionAnswer], [IsPasswordChangeDue], [IsDeleted], [IsActive], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID], [CompanyCode]) VALUES (66, N'SuperAdmin', N'MTIzNDU=', 10, N'Employee', 1, NULL, NULL, 0, 0, 1, CAST(N'2013-07-06 17:26:46.650' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 8, N'C00001')
INSERT [dbo].[ADMN_MST_Users] ([UserID], [UserName], [Password], [RoleID], [UserType], [UserReferenceID], [SecretQuestion], [SecretQuestionAnswer], [IsPasswordChangeDue], [IsDeleted], [IsActive], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID], [CompanyCode]) VALUES (139, N'TSDC11110001', N'MTIzNDU=', 4, N'Student', 1, NULL, NULL, 0, 0, 1, CAST(N'2015-02-21 04:57:58.513' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 8, N'TSDC1111')
SET IDENTITY_INSERT [dbo].[ADMN_MST_Users] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_Users_Officewise] ON 

INSERT [dbo].[ADMN_MST_Users_Officewise] ([UserOfficewiseID], [UserID], [OfficeID], [CanAccessAllOffices], [EffectiveDateFrom], [EffectiveDateTo], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, 1, 44, 1, NULL, NULL, 1, 0, CAST(N'2013-11-08 13:32:56.253' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 8)
INSERT [dbo].[ADMN_MST_Users_Officewise] ([UserOfficewiseID], [UserID], [OfficeID], [CanAccessAllOffices], [EffectiveDateFrom], [EffectiveDateTo], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (2, 2, 44, 1, NULL, NULL, 1, 0, CAST(N'2013-11-08 13:32:59.063' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 8)
INSERT [dbo].[ADMN_MST_Users_Officewise] ([UserOfficewiseID], [UserID], [OfficeID], [CanAccessAllOffices], [EffectiveDateFrom], [EffectiveDateTo], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (3, 68, 44, 0, CAST(N'2013-11-08' AS Date), NULL, 1, 0, CAST(N'2013-11-08 14:59:43.177' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_Users_Officewise] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_UserSettingKeys] ON 

INSERT [dbo].[ADMN_MST_UserSettingKeys] ([UserSettingKeyID], [UserSettingKeyName], [UserSettingKeyDescription], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, N'USER_DEFAULT_PAGE', N'The default Page to be shown after successful login', 1, 0, CAST(N'2013-02-04 08:39:59.033' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_UserSettingKeys] ([UserSettingKeyID], [UserSettingKeyName], [UserSettingKeyDescription], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (2, N'USER_MENU_STYLE', N'The Menu Style for the application', 1, 0, CAST(N'2013-02-04 08:40:55.533' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMN_MST_UserSettingKeys] ([UserSettingKeyID], [UserSettingKeyName], [UserSettingKeyDescription], [IsActive], [IsDeleted], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (3, N'USER_DEFAULT_MODE', N'The default mode of operation for every page', 1, 0, CAST(N'2013-02-04 10:17:02.300' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ADMN_MST_UserSettingKeys] OFF
SET IDENTITY_INSERT [dbo].[ADMN_MST_UserSettings] ON 

INSERT [dbo].[ADMN_MST_UserSettings] ([UserSettingID], [UserSettingKeyID], [UserSettingValue], [UserID], [IsActive], [IsDelete], [DateAdded], [AddedBy], [DateModified], [ModifiedBy], [VC_FIELD1], [VC_FIELD2], [NU_FIELD1], [NU_FIELD2], [DT_FIELD1], [DT_FIELD2], [CH_FIELD1], [CH_FIELD2], [CompanyID]) VALUES (1, 2, N'Micro_DarkGreen', 1, 1, 0, CAST(N'2013-03-02 12:07:44.927' AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ADMN_MST_UserSettings] OFF
ALTER TABLE [dbo].[ADMN_MST_RolePermissions] ADD  CONSTRAINT [DF_ADMN_MST_RolePermissions_IsActive_1]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ADMN_MST_RolePermissions] ADD  CONSTRAINT [DF_ADMN_MST_RolePermissions_IsDeleted_1]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ADMN_MST_RolePermissions] ADD  CONSTRAINT [DF_ADMN_MST_RolePermissions_DateAdded_1]  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[ADMN_TRN_LogUserLogins] ADD  CONSTRAINT [DF_ADMN_TRN_LogUserLogins_LoginDate]  DEFAULT (getdate()) FOR [LoginDate]
GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_ChangePassword]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_ChangePassword]	(	@UserID			INT
														,@NewPassword	VARCHAR(100)
														,@ModifiedBy	INT
														,@ReturnValue	INT			=	NULL OUTPUT
													)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--18-Jun-2012	Pinakee Das		1.0			Creation
--
--DESCRIPTION
--
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN 
	SET NOCOUNT ON;

	IF EXISTS (	SELECT	1
				FROM	dbo.ADMN_MST_Users AS U
				WHERE	U.UserID=@UserID
				AND		U.IsActive=1
				AND		U.IsDeleted=0
				)
	BEGIN
		UPDATE	U
		SET		U.Password=@NewPassword
				,U.IsPasswordChangeDue=0
				,U.ModifiedBy=@ModifiedBy
				,U.DateModified=GETDATE()
		FROM	dbo.ADMN_MST_Users AS U
		WHERE	U.UserID=@UserID
		AND		U.IsActive=1
		AND		U.IsDeleted=0;

		SET		@ReturnValue=@UserID;
	END
	ELSE
	BEGIN
		SET @ReturnValue=-2;
	END
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Delete]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_Delete](	@UserID					INT
											,@ModifiedBy			INT
											,@ReturnValue			INT				OUTPUT)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--20-Jun-2012	Pinakee Das		1.0			Creation
--
--
--DESCRIPTION
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN
	SET NOCOUNT ON;
	IF EXISTS(	SELECT	*
				FROM	dbo.ADMN_MST_Users U
				WHERE	U.UserID=@UserID)
	BEGIN
		UPDATE	U
		SET		U.IsDeleted=1
				,U.ModifiedBy=@ModifiedBy
				,U.DateModified=GETDATE()
		FROM	dbo.ADMN_MST_Users U
		WHERE	U.UserID=@UserID;
            
		SET @ReturnValue = @UserID;
	END
 	ELSE IF NOT EXISTS(	SELECT	*
						FROM	dbo.ADMN_MST_Users
						WHERE	UserID =@UserID)
	BEGIN
		--UserID not FOUND ;
		SET @ReturnValue=-5;
	END

	ELSE
	BEGIN
		--SELECT -2 as UserID;
		SET @ReturnValue = -2;
	END
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_FindUsername]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_FindUsername]	(	@UserName	VARCHAR(50)		=	NULL
													)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--18-Jun-2012	Pinakee Das		1.0			Creation
--
--
--DESCRIPTION
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS(	SELECT	1
                    FROM	dbo.ADMN_MST_Users
                    WHERE	UserName =@UserName)
	BEGIN
		SELECT 0 AS ReturnValue;
	END
	ELSE IF EXISTS(	SELECT	1
                    FROM	dbo.ADMN_MST_Users
                    WHERE	UserName =@UserName)
	BEGIN
		SELECT -1 AS ReturnValue;
	END
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_GenerateNewPassword]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_GenerateNewPassword] (@ReturnValue VARCHAR(10) OUTPUT)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--24-Mar-2012	Pinakee Das		1.0			Creation
--
--
--DESCRIPTION
--
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN 
		DECLARE @Password VARCHAR(10);
		SELECT @Password = LOWER(LEFT(NEWID(),5)) + LEFT(NewID(),5);
		SELECT @Password AS Password
		SET @ReturnValue=@Password;
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Insert]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_Insert](	@UserName				VARCHAR(50)		=	NULL
											,@Password				VARCHAR(50)		=	NULL
											,@UserType				VARCHAR(50)
											,@UserReferenceID		INT
											,@RoleID				INT				=	NULL
											,@AddedBy				INT				=	NULL
											,@ReturnValue			INT				=	NULL	OUTPUT)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--18-Nov-2011	Pinakee Das		1.0			Creation
--19-Apr-2012	Pinakee Das		2.0			Changed the Query Plan to accommodate the change to Users Table.
--26-Jun-2012	Pinakee Das		2.1			Inserting a row into ADMN_MST_Users_Officewise table as and when a user gets added to the table.
--
--DESCRIPTION
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN
	SET NOCOUNT ON;
	
	-- INSERT BEGIN
	IF NOT EXISTS(	SELECT	1
                    FROM	dbo.ADMN_MST_Users
                    WHERE	UserName = @UserName)
	
	BEGIN
		--DECLARE @Password VARCHAR(15);
		--SELECT @Password = 'password';
		--SELECT @Password = LOWER(LEFT(NEWID(),7)) + LEFT(NewID(),8);

				INSERT INTO dbo.ADMN_MST_Users(	
										UserName
										,Password
										,UserType
										,UserReferenceID
										,RoleID
										,IsPasswordChangeDue
										)
				VALUES (
						 @UserName
						,@Password
						,@UserType
						,@UserReferenceID
						,@RoleID
						,1
						);

		SET @ReturnValue = SCOPE_IDENTITY();
/*
		DECLARE @OfficeID	INT
				,@CompanyID	INT;

		SELECT @OfficeID=	CASE
								WHEN	@UserType='Employee'	THEN (	SELECT	E.OfficeID 
																		FROM	dbo.HRMS_MST_Employees AS E 
																		WHERE	E.EmployeeID=@UserReferenceID 
																		AND		E.IsActive=1 
																		AND		E.IsDeleted=0)
								WHEN	@UserType='Student'	THEN (	SELECT	F.OfficeID 
																		FROM	dbo.CRM_MST_FieldForces AS F 
																		WHERE	F.FieldForceID=@UserReferenceID 
																		AND		F.IsActive=1 
																		AND		F.IsDeleted=0)
								WHEN	@UserType='Guest'		THEN (	SELECT	G.OfficeID 
																		FROM	dbo.ADMN_MST_Guests AS G 
																		WHERE	G.GuestID=@UserReferenceID 
																		AND		G.IsActive=1 
																		AND		G.IsDeleted=0)
							END	 

		SELECT	@CompanyID=CompanyID
		FROM	dbo.ADMN_MST_Offices AS Offices
		WHERE	Offices.OfficeID=@OfficeID;

		EXECUTE dbo.pADM_UsersOfficewise_Insert @ReturnValue
												,@OfficeID
												,@CompanyID
												,0
												,NULL
												,NULL
												,@AddedBy
												,@ReturnValue=@CompanyID OUTPUT;

	*/
	END
	
  	-- UPDATE BEGIN  
	ELSE IF EXISTS (SELECT	1
                    FROM	dbo.ADMN_MST_Users
                    WHERE	UserName =@UserName 
					AND		IsDeleted=1)
    BEGIN
	
        SET @ReturnValue = (	SELECT	UserID
								FROM	dbo.ADMN_MST_Users
								WHERE	UserName =@UserName
								AND		IsDeleted=1);

        UPDATE	dbo.ADMN_MST_Users
        SET		IsDeleted=0,
				ModifiedBy=@AddedBy,
				DateModified=GETDATE()
				,[Password]='password'
				,IsPasswordChangeDue=1
        WHERE	UserName =@UserName
		AND		IsDeleted=1;
    END  
    -- UPDATE END 
    
    
	ELSE IF EXISTS(	SELECT	1
					FROM	dbo.ADMN_MST_Users
					WHERE	UserName =@UserName)
    BEGIN
        --SELECT -1 as UserID;
        SET @ReturnValue=-1;
    END

	ELSE
    BEGIN
        --SELECT -2 as UserID;
        SET @ReturnValue = -2;
    END
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Log_Insert]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_Log_Insert]
(
   @UserID INT,
   @OfficeID INT,
         @LoggedOnDateTime DATETIME,
           @LoggedOutDateTime DATETIME = NULL,
           @LoggedOnFromSystemIP VARCHAR(MAX) = NULL,
           @SessionID VARCHAR(MAX) = NULL,
            @ClientComputerName VARCHAR(MAX) = NULL,
          @ReturnValue INT OUTPUT
)
AS
BEGIN
INSERT INTO dbo.ADMN_MST_Users_Log
           (
           [UserID]
           ,[OfficeID]
           ,[LoggedOnDateTime]
           ,[LoggedOutDateTime]
           ,[LoggedOnFromSystemIP]
           ,[ClientComputerName]
           ,[SessionId]
           )
     VALUES
           (@UserID, 
           @OfficeID,
           @LoggedOnDateTime,
           @LoggedOutDateTime,
           @LoggedOnFromSystemIP,
           @ClientComputerName,
           @SessionID
           );

set @ReturnValue = SCOPE_IDENTITY();
END;


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Log_Select]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_Log_Select]
AS
BEGIN

SELECT     ADMN_MST_Users_Log.LogID, ADMN_MST_Offices.OfficeName, HRMS_MST_Employees.EmployeeName, ADMN_MST_Users.UserName, 
                      ADMN_MST_Users_Log.LoggedOnDateTime, ADMN_MST_Users_Log.LoggedOutDateTime, ADMN_MST_Users_Log.LoggedOnFromSystemIP, 
                      ADMN_MST_Users_Log.ClientComputerName, ADMN_MST_Users_Log.SessionId
FROM         ADMN_MST_Users INNER JOIN
                      HRMS_MST_Employees ON ADMN_MST_Users.UserID = HRMS_MST_Employees.UserID INNER JOIN
                      ADMN_MST_Users_Log ON ADMN_MST_Users.UserID = ADMN_MST_Users_Log.UserID INNER JOIN
                      ADMN_MST_Offices ON ADMN_MST_Users_Log.OfficeID = ADMN_MST_Offices.OfficeID;
END;


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_Log_Update]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_Log_Update]
(
   @LogID INT,
   @LoggedOutDateTime DATETIME
)
AS
BEGIN
UPDATE dbo.ADMN_MST_Users_Log
SET LoggedOutDateTime=@LoggedOutDateTime
WHERE LogID = @LogID;

END;


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_ResetPassword]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_ResetPassword] (	@UserID			INT
											--,@NewPassword	VARCHAR(100)
											,@ModifiedBy	INT
											,@ReturnValue	INT			=	NULL OUTPUT)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--24-Mar-2012	Pinakee Das		1.0			Creation
--18-Jun-2012	Pinakee Das		1.1			Removed @NewPassword Parameter
--											Generated new password and assigned to Password column.
--											Set IsPasswordChangeDue to TRUE.
--
--DESCRIPTION
--
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN 
	SET NOCOUNT ON;

	IF EXISTS (	SELECT	1
				FROM	dbo.ADMN_MST_Users AS U
				WHERE	U.UserID=@UserID
				AND		U.IsActive=1
				AND		U.IsDeleted=0
				)
	BEGIN
		UPDATE	U
		SET		U.Password=LOWER(LEFT(NEWID(),5)) + LEFT(NewID(),5)
				,U.IsPasswordChangeDue=1
				,U.ModifiedBy=@ModifiedBy
				,U.DateModified=GETDATE()
		FROM	dbo.ADMN_MST_Users AS U
		WHERE	U.UserID=@UserID
		AND		U.IsActive=1
		AND		U.IsDeleted=0;

		SET		@ReturnValue=@UserID;
	END
	ELSE
	BEGIN
		SET @ReturnValue=-2;
	END
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectAllByCompanyID]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_SelectAllByCompanyID]
@CompanyID VARCHAR(10)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--19-Apr-2012	Pinakee Das		1.0			Creation
--
--
--DESCRIPTION
--
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN
	SELECT Usr.UserID
			,Usr.UserName
			,Usr.[Password]
			,Usr.RoleID
			,Roles.RoleDescription
			,Emp.EmployeeID
			,Emp.Salutation
			,Emp.EmployeeName
			,Emp.DateOfBirth
			,Emp.DesignationID
			,Desig.DesignationDescription
			,Emp.DepartmentID
			,Dept.DepartmentDescription
			,Emp.OfficeID
			,CASE
			WHEN Emp.OfficeID = dbo.funcGetHeadOfficeID(Emp.OfficeID) THEN 'HO-' + Office.OfficeName
			ELSE Office.OfficeName
			END                                                    
			AS OfficeName
			,Office.Address_TownOrCity
			,Office.Address_Landmark
			,Office.Address_DistrictID
			,(SELECT DistrictName from ADMN_MST_Districts WHERE DistrictID=Office.Address_DistrictID) As DistrictName
			,C.CompanyID
			,C.CompanyName
			,C.CompanyCode
			,Usr.IsPasswordChangeDue
			--,dbo.funcGetHeadOfficeID(Emp.OfficeID)   AS CompanyID
			--,dbo.funcGetHeadOfficeName(Emp.OfficeID) AS CompanyName
			--,dbo.funcGetHeadOfficeCode(Emp.OfficeID) AS CompanyCode
	FROM	dbo.ADMN_MST_Offices AS Office RIGHT OUTER JOIN
			dbo.ADMN_MST_Users AS Usr LEFT OUTER JOIN
			dbo.HRMS_MST_EMPLOYEES AS Emp ON Usr.UserID = Emp.UserID LEFT OUTER JOIN
			dbo.ADMN_MST_Roles AS Roles ON Usr.RoleID = Roles.RoleID LEFT OUTER JOIN
			dbo.HRMS_MST_Departments AS Dept ON Emp.DepartmentID = Dept.DepartmentID LEFT OUTER JOIN
			dbo.HRMS_MST_Designations AS Desig ON Emp.DesignationID = Desig.DesignationID ON Office.OfficeID = Emp.OfficeID
			INNER JOIN dbo.ADMN_MST_Companies AS C
			ON Usr.CompanyID=C.CompanyID
	WHERE	Office.CompanyID = @CompanyID;
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectByLoginName]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pADM_Users_SelectByLoginName] @LoginName VARCHAR(50)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author				Version		Change
--22-Aug-2011						1.0			Creation
--DESCRIPTION
--This procedure shows each and every details of employees.
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN
	SET NOCOUNT ON;
	--IF EXISTS	(	SELECT	1
	--				FROM	dbo.ADMN_MST_Users AS Usr
	--				WHERE	Usr.UserName=@LoginName
	--				AND		Usr.IsActive=1
	--				AND		Usr.IsDeleted=0
	--			)
	--BEGIN
		SELECT	DISTINCT Usr.UserID
				,Usr.UserName
				,Usr.[Password]
				,Usr.RoleID
				,Roles.RoleDescription
				,Usr.UserType
				,Usr.UserReferenceID
				,CASE 
					WHEN Usr.UserType='Student'	THEN (	SELECT std.Salutation + ' ' + std.StudentName 
															FROM	dbo.ICAS_Students AS std 
															WHERE	std.StudentID=Usr.UserReferenceID 
															AND		std.IsActive=1 
															AND		std.IsDeleted=0)
					WHEN Usr.UserType='Employee'	THEN (	SELECT E.Salutation + ' ' +	E.EmployeeName 
															FROM	dbo.HRMS_MST_Employees AS E 
															WHERE	E.EmployeeID=Usr.UserReferenceID 
															AND		E.IsActive=1 
															AND		E.IsDeleted=0)
					WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.FieldForceName 
															FROM	dbo.CRM_MST_FieldForces AS F 
															WHERE	F.FieldForceID=Usr.UserReferenceID 
															AND		F.IsActive=1 
															AND		F.IsDeleted=0)
					WHEN Usr.UserType='Guest'		THEN (	SELECT	G.GuestName 
															FROM	dbo.ADMN_MST_Guests AS G 
															WHERE	G.GuestID=Usr.UserReferenceID 
															AND		G.IsActive=1 
															AND		G.IsDeleted=0)
				 END AS UserReferenceName
				,CASE 
					WHEN Usr.UserType='Student'	THEN (	SELECT E.EMailID 
															FROM	dbo.ICAS_Students AS E 
															WHERE	E.StudentID=Usr.UserReferenceID 
															AND		E.IsActive=1 
															AND		E.IsDeleted=0)
					WHEN Usr.UserType='Employee'	THEN (	SELECT	E.EMailID 
															FROM	dbo.HRMS_MST_Employees AS E 
															WHERE	E.EmployeeID=Usr.UserReferenceID 
															AND		E.IsActive=1 
															AND		E.IsDeleted=0)
					WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.EMailID 
															FROM	dbo.CRM_MST_FieldForces AS F 
															WHERE	F.FieldForceID=Usr.UserReferenceID 
															AND		F.IsActive=1 
															AND		F.IsDeleted=0)
					WHEN Usr.UserType='Guest'		THEN (	SELECT	G.PersonalEMailID 
															FROM	dbo.ADMN_MST_Guests AS G 
															WHERE	G.GuestID=Usr.UserReferenceID 
															AND		G.IsActive=1 
															AND		G.IsDeleted=0)
				 END AS EMailID
				 ,CASE 
					WHEN Usr.UserType='Student'	THEN (	SELECT E.OfficeID 
															FROM	dbo.ICAS_Students AS E 
															WHERE	E.StudentID=Usr.UserReferenceID 
															AND		E.IsActive=1 
															AND		E.IsDeleted=0)
					WHEN Usr.UserType='Employee'	THEN (	SELECT	E.OfficeID 
															FROM	dbo.HRMS_MST_Employees AS E 
															WHERE	E.EmployeeID=Usr.UserReferenceID 
															AND		E.IsActive=1 
															AND		E.IsDeleted=0)
					WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.OfficeID 
															FROM	dbo.CRM_MST_FieldForces AS F 
															WHERE	F.FieldForceID=Usr.UserReferenceID 
															AND		F.IsActive=1 
															AND		F.IsDeleted=0)
					WHEN Usr.UserType='Guest'		THEN (	SELECT	G.OfficeID 
															FROM	dbo.ADMN_MST_Guests AS G 
															WHERE	G.GuestID=Usr.UserReferenceID 
															AND		G.IsActive=1 
															AND		G.IsDeleted=0)
				 END AS OfficeID
				 ,dbo.funcGetOfficeName(CASE 
											WHEN Usr.UserType='Student'	THEN (	SELECT	E.OfficeID 
																					FROM	dbo.ICAS_Students AS E 
																					WHERE	E.StudentID=Usr.UserReferenceID 
																					AND		E.IsActive=1 
																					AND		E.IsDeleted=0)
											WHEN Usr.UserType='Employee'	THEN (	SELECT	E.OfficeID 
																					FROM	dbo.HRMS_MST_Employees AS E 
																					WHERE	E.EmployeeID=Usr.UserReferenceID 
																					AND		E.IsActive=1 
																					AND		E.IsDeleted=0)
											WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.OfficeID 
																					FROM	dbo.CRM_MST_FieldForces AS F 
																					WHERE	F.FieldForceID=Usr.UserReferenceID 
																					AND		F.IsActive=1 
																					AND		F.IsDeleted=0)
											WHEN Usr.UserType='Guest'		THEN (	SELECT	G.OfficeID 
																					FROM	dbo.ADMN_MST_Guests AS G 
																					WHERE	G.GuestID=Usr.UserReferenceID 
																					AND		G.IsActive=1 
																					AND		G.IsDeleted=0)
										END) AS OfficeName
				,dbo.funcGetOfficeCode(	CASE 
											WHEN Usr.UserType='Student'	THEN (	SELECT	E.OfficeID 
																					FROM	dbo.ICAS_Students AS E 
																					WHERE	E.StudentID=Usr.UserReferenceID 
																					AND		E.IsActive=1 
																					AND		E.IsDeleted=0)
											WHEN Usr.UserType='Employee'	THEN (	SELECT	E.OfficeID 
																					FROM	dbo.HRMS_MST_Employees AS E 
																					WHERE	E.EmployeeID=Usr.UserReferenceID 
																					AND		E.IsActive=1 
																					AND		E.IsDeleted=0)
											WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.OfficeID 
																					FROM	dbo.CRM_MST_FieldForces AS F 
																					WHERE	F.FieldForceID=Usr.UserReferenceID 
																					AND		F.IsActive=1 
																					AND		F.IsDeleted=0)
											WHEN Usr.UserType='Guest'		THEN (	SELECT	G.OfficeID 
																					FROM	dbo.ADMN_MST_Guests AS G 
																					WHERE	G.GuestID=Usr.UserReferenceID 
																					AND		G.IsActive=1 
																					AND		G.IsDeleted=0)
										END) AS OfficeCode
			
				,C.CompanyID
				,C.CompanyName
				,C.CompanyAliasName
				,C.CompanyCode
				,C.CompanyLogoSmallSize
				,C.CompanyLogoSmallType
				,C.CompanyLogoMediumSize
				,C.CompanyLogoMediumType
				,C.CompanyLogoBigSize
				,C.CompanyLogoBigType				
				,Usr.IsPasswordChangeDue
				,Usr.VC_FIELD1 as 'UserPhoto_SmallSize'
				,Usr.VC_FIELD2 as 'UserPhoto_MediumSize'				
		FROM	dbo.ADMN_MST_Users AS Usr INNER JOIN dbo.ADMN_MST_Roles AS Roles
		ON		Usr.RoleID=Roles.RoleID INNER JOIN dbo.ADMN_MST_Companies AS C
		ON		Usr.CompanyID=C.CompanyID 
		WHERE	Usr.UserName = @LoginName
		AND		Usr.IsActive=1
		AND		Usr.IsDeleted=0;
	--END
END



GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectByUserID]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_SelectByUserID](	@UserID				INT)
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--18-Nov-2011	Pinakee Das		1.0			Creation
--18-Apr-2012	Pinakee Das		1.1			Added Company Details by using ADMN_MST_Companies Table.
--
--DESCRIPTION
--
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN
	SET NOCOUNT ON;

	SELECT	Usr.UserID
			,Usr.UserName
			,Usr.[Password]
			,Usr.RoleID
			,(SELECT R.RoleDescription FROM dbo.ADMN_MST_Roles R WHERE R.RoleID= Usr.RoleID) as RoleDescription
			,C.CompanyID
			,C.CompanyName
			,C.CompanyCode
			,Usr.UserType
			,Usr.UserReferenceID
			,CASE 
				WHEN Usr.UserType='Employee'	THEN (	SELECT	E.EmployeeName 
														FROM	dbo.HRMS_MST_Employees AS E 
														WHERE	E.EmployeeID=Usr.UserReferenceID 
														AND		E.IsActive=1 
														AND		E.IsDeleted=0)
				WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.FieldForceName 
														FROM	dbo.CRM_MST_FieldForces AS F 
														WHERE	F.FieldForceID=Usr.UserReferenceID 
														AND		F.IsActive=1 
														AND		F.IsDeleted=0)
				WHEN Usr.UserType='Guest'		THEN (	SELECT	G.GuestName 
														FROM	dbo.ADMN_MST_Guests AS G 
														WHERE	G.GuestID=Usr.UserReferenceID 
														AND		G.IsActive=1 
														AND		G.IsDeleted=0)
			 END AS UserReferenceName
			--,Usr.SecretQuestion
			--,Usr.SecretQuestionAnswer
			,Usr.IsPasswordChangeDue
			,Usr.IsDeleted
			,Usr.IsActive
			,Usr.DateAdded
			,Usr.AddedBy
			,Usr.DateModified
			,Usr.ModifiedBy
	
	FROM dbo.ADMN_MST_Users Usr INNER JOIN dbo.ADMN_MST_Companies AS C
	ON Usr.CompanyID=C.CompanyID
	WHERE Usr.UserID=@UserID;
END


GO
/****** Object:  StoredProcedure [dbo].[pADM_Users_SelectDetailsAll]    Script Date: 12/27/2016 11:10:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pADM_Users_SelectDetailsAll]
AS
--------------------------------------------------------------------------------------------------------------------------------
--CHANGE HISTORY
--Date			Author			Version		Change
--22-Aug-2011	Pinakee Das		1.0			Creation
--25-Aug-2011	Pinakee Das		1.1			Renamed the to 'pADM_Users_SelectDetailsAll'
--09-Jan-2012	Pinakee Das		1.2			Removed the Location Table and its related columns from the query.
--18-Apr-2012	Pinakee Das		1.3			Added Company Details by using ADMN_MST_Companies Table.
--19-Apr-2012	Pinakee Das		2.0			Altered the Query Plan to accommodate the change in ADN_MST_Users Table
--
--
--DESCRIPTION
--This procedure shows each and every details of employees.
--
--------------------------------------------------------------------------------------------------------------------------------
BEGIN
	SET NOCOUNT ON;
	SELECT	DISTINCT Usr.UserID
			,Usr.UserName
			,Usr.[Password]
			,Usr.RoleID
			,Roles.RoleDescription
			,Usr.UserType
			,Usr.UserReferenceID
			,CASE 
				WHEN Usr.UserType='Employee'	THEN (	SELECT	E.EMailID 
														FROM	dbo.HRMS_MST_Employees AS E 
														WHERE	E.EmployeeID=Usr.UserReferenceID 
														AND		E.IsActive=1 
														AND		E.IsDeleted=0)
				WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.EMailID 
														FROM	dbo.CRM_MST_FieldForces AS F 
														WHERE	F.FieldForceID=Usr.UserReferenceID 
														AND		F.IsActive=1 
														AND		F.IsDeleted=0)
				WHEN Usr.UserType='Student'	THEN (	SELECT	S.EMailID 
														FROM	dbo.iCAS_Students AS S 
														WHERE	S.StudentID=Usr.UserReferenceID 
														AND		S.IsActive=1 
														AND		S.IsDeleted=0)
				WHEN Usr.UserType='Guest'		THEN (	SELECT	G.PersonalEMailID
														FROM	dbo.ADMN_MST_Guests AS G 
														WHERE	G.GuestID=Usr.UserReferenceID 
														AND		G.IsActive=1 
														AND		G.IsDeleted=0)
			 END AS EmailID
			,CASE 
				WHEN Usr.UserType='Employee'	THEN (	SELECT	E.EmployeeName 
														FROM	dbo.HRMS_MST_Employees AS E 
														WHERE	E.EmployeeID=Usr.UserReferenceID 
														AND		E.IsActive=1 
														AND		E.IsDeleted=0)
				WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.FieldForceName 
														FROM	dbo.CRM_MST_FieldForces AS F 
														WHERE	F.FieldForceID=Usr.UserReferenceID 
														AND		F.IsActive=1 
														AND		F.IsDeleted=0)
				WHEN Usr.UserType='Student'	THEN (	SELECT	S.StudentName
														FROM	dbo.iCAS_Students AS S 
														WHERE	S.StudentID=Usr.UserReferenceID 
														AND		S.IsActive=1 
														AND		S.IsDeleted=0)
				WHEN Usr.UserType='Guest'		THEN (	SELECT	G.GuestName 
														FROM	dbo.ADMN_MST_Guests AS G 
														WHERE	G.GuestID=Usr.UserReferenceID 
														AND		G.IsActive=1 
														AND		G.IsDeleted=0)
			 END AS UserReferenceName
			,CASE 
				WHEN Usr.UserType='Employee'	THEN (	SELECT	E.OfficeID 
														FROM	dbo.HRMS_MST_Employees AS E 
														WHERE	E.EmployeeID=Usr.UserReferenceID 
														AND		E.IsActive=1 
														AND		E.IsDeleted=0)
				WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.OfficeID 
														FROM	dbo.CRM_MST_FieldForces AS F 
														WHERE	F.FieldForceID=Usr.UserReferenceID 
														AND		F.IsActive=1 
														AND		F.IsDeleted=0)
				WHEN Usr.UserType='Student'	THEN (	SELECT	S.OfficeID 
														FROM	dbo.iCAS_Students AS S 
														WHERE	S.StudentID=Usr.UserReferenceID 
														AND		S.IsActive=1 
														AND		S.IsDeleted=0)														
				WHEN Usr.UserType='Guest'		THEN (	SELECT	G.OfficeID 
														FROM	dbo.ADMN_MST_Guests AS G 
														WHERE	G.GuestID=Usr.UserReferenceID 
														AND		G.IsActive=1 
														AND		G.IsDeleted=0)
			 END AS OfficeID
			 ,dbo.funcGetOfficeName(CASE 
										WHEN Usr.UserType='Employee'	THEN (	SELECT	E.OfficeID 
																				FROM	dbo.HRMS_MST_Employees AS E 
																				WHERE	E.EmployeeID=Usr.UserReferenceID 
																				AND		E.IsActive=1 
																				AND		E.IsDeleted=0)
										WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.OfficeID 
																				FROM	dbo.CRM_MST_FieldForces AS F 
																				WHERE	F.FieldForceID=Usr.UserReferenceID 
																				AND		F.IsActive=1 
																				AND		F.IsDeleted=0)
										WHEN Usr.UserType='Guest'		THEN (	SELECT	G.OfficeID 
																				FROM	dbo.ADMN_MST_Guests AS G 
																				WHERE	G.GuestID=Usr.UserReferenceID 
																				AND		G.IsActive=1 
																				AND		G.IsDeleted=0)
										WHEN Usr.UserType='Student'		THEN (	SELECT	S.OfficeID 
																				FROM	dbo.iCAS_Students AS S 
																				WHERE	S.StudentID=Usr.UserReferenceID 
																				AND		S.IsActive=1 
																			AND		S.IsDeleted=0)																							
									END) AS OfficeName
			,dbo.funcGetOfficeName(	CASE 
										WHEN Usr.UserType='Employee'	THEN (	SELECT	E.OfficeID 
																				FROM	dbo.HRMS_MST_Employees AS E 
																				WHERE	E.EmployeeID=Usr.UserReferenceID 
																				AND		E.IsActive=1 
																				AND		E.IsDeleted=0)
										WHEN Usr.UserType='FieldForce'	THEN (	SELECT	F.OfficeID 
																				FROM	dbo.CRM_MST_FieldForces AS F 
																				WHERE	F.FieldForceID=Usr.UserReferenceID 
																				AND		F.IsActive=1 
																				AND		F.IsDeleted=0)
										WHEN Usr.UserType='Student'	THEN (	SELECT	S.OfficeID 
																				FROM	dbo.iCAS_Students AS S 
														WHERE	S.StudentID=Usr.UserReferenceID 
														AND		S.IsActive=1 
														AND		S.IsDeleted=0)					
										WHEN Usr.UserType='Guest'		THEN (	SELECT	G.OfficeID 
																				FROM	dbo.ADMN_MST_Guests AS G 
																				WHERE	G.GuestID=Usr.UserReferenceID 
																				AND		G.IsActive=1 
																				AND		G.IsDeleted=0)
									END) AS OfficeCode
			,Usr.IsPasswordChangeDue
			,C.CompanyID
			,C.CompanyName
			,C.CompanyCode
	
	FROM	dbo.ADMN_MST_Users AS Usr INNER JOIN dbo.ADMN_MST_Roles AS Roles
	ON		Usr.RoleID=Roles.RoleID INNER JOIN dbo.ADMN_MST_Companies AS C
	ON		Usr.CompanyID=C.CompanyID
	--WHERE	Usr.UserName = @LoginName
	AND		Usr.IsActive=1
	AND		Usr.IsDeleted=0;

/*--------------------------------------------------------------------------------------------------------------------------------
	SELECT	Usr.UserID
			,Usr.UserName
			,Usr.[Password]
			,Usr.RoleID
			,Roles.RoleDescription
			,Emp.EmployeeID
			,Emp.Salutation
			,Emp.EmployeeName
			,Emp.DateOfBirth
			,Emp.DesignationID
			,Desig.DesignationDescription
			,Emp.DepartmentID
			,Dept.DepartmentDescription
			,Emp.OfficeID
			,CASE
				WHEN Emp.OfficeID = dbo.funcGetHeadOfficeID(Emp.OfficeID) THEN 'HO-' +
						Office.OfficeName
				ELSE Office.OfficeName
			END AS OfficeName
			,Office.Address_TownOrCity
			,Office.Address_Landmark
			,Office.Address_DistrictID
			,Dist.DistrictName
			,C.CompanyID
			,C.CompanyName
			,C.CompanyCode
	FROM	dbo.ADMN_MST_Users AS Usr LEFT OUTER JOIN
            dbo.HRMS_MST_Employees AS Emp ON Usr.UserID = Emp.UserID LEFT OUTER JOIN
            dbo.ADMN_MST_Roles AS Roles ON Usr.RoleID = Roles.RoleID LEFT OUTER JOIN
            dbo.HRMS_MST_Departments AS Dept ON Emp.DepartmentID = Dept.DepartmentID LEFT OUTER JOIN
            dbo.HRMS_MST_Designations AS Desig ON Emp.DesignationID = Desig.DesignationID LEFT OUTER JOIN
            dbo.ADMN_MST_Offices AS Office INNER JOIN
            dbo.ADMN_MST_Districts AS Dist INNER JOIN
            dbo.ADMN_MST_States AS States ON Dist.StateID = States.StateID INNER JOIN
            dbo.ADMN_MST_Countries AS Country ON States.CountryID = Country.CountryID ON Office.Address_DistrictID = Dist.DistrictID ON Emp.OfficeID = Office.OfficeID
			INNER JOIN dbo.ADMN_MST_Companies AS C
			ON Usr.CompanyID=C.CompanyID
	WHERE	Usr.IsDeleted=0
	AND		Usr.IsActive=1;*/
  END


GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got added.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'DateAdded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have added the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'AddedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got updated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'DateModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have updated the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_CommonKeys', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got added.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'DateAdded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have added the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'AddedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got updated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'DateModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have updated the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Companies', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got added.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'DateAdded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have added the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'AddedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got updated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'DateModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have updated the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Countries', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got added.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'DateAdded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have added the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'AddedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got updated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'DateModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have updated the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Districts', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got added.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'DateAdded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have added the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'AddedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got updated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'DateModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have updated the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_Roles', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got added.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'DateAdded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have added the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'AddedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The Date and Time the row got updated.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'DateModified'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User ID of the User who have updated the row.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ADMN_MST_States', @level2type=N'COLUMN',@level2name=N'ModifiedBy'
GO
