<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	<add name="GlobalMindzEntities" connectionString="metadata=res://*/ModelGlobalMindz.csdl|res://*/ModelGlobalMindz.ssdl|res://*/ModelGlobalMindz.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=198.71.225.113; initial catalog=global_mindz; user id=global_mindz;password=global_mindz@1234;  MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="GlobalMindzConnStr" connectionString="Data Source=198.71.225.113; Initial Catalog=global_mindz; User ID=global_mindz; Password=global_mindz@1234;" providerName="System.Data.EntityClient"/>
	<!--<add name="GlobalMindzConnStr" connectionString="Data Source=GB-SYS-DEV-001\SQLEXPRESS2014; Initial Catalog=global_mindz; User ID=sa; Password=gb@1234;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	<providers>
	  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>
  </entityFramework>
  <appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="PreserveLoginUrl" value="true" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
	<customErrors mode="Off"/>
	<httpRuntime targetFramework="4.6.1" />
	<compilation debug="true" targetFramework="4.6.1" />
	<pages enableEventValidation="true">
	  <namespaces>
		<add namespace="System.Web.Helpers" />
		<add namespace="System.Web.Mvc" />
		<add namespace="System.Web.Mvc.Ajax" />
		<add namespace="System.Web.Mvc.Html" />
		<add namespace="System.Web.Optimization" />
		<add namespace="System.Web.Routing" />
		<add namespace="System.Web.WebPages" />
	  </namespaces>
	  <controls>
		<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
		<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
	  </controls>
	</pages>
  </system.web>
  <system.webServer>
	<modules runAllManagedModulesForAllRequests="true" />
	<handlers>
	  <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
	  <remove name="OPTIONSVerbHandler" />
	  <remove name="TRACEVerbHandler" />
	  <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	</handlers>

  </system.webServer>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
		<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>